$font: sans-serif, Verdana, Geneva, Tahoma;
$font-color: black;

body {
    margin: 0;
    background: white;
  }

  .content {
    margin: 0 auto;
    background: aqua;
    /*height: 605px;*/
    width: 900px;
  }

  header {
    display: flex;
    justify-content: space-between;
    span{
    font-family: font;
    font-size: 25px;
    font-weight: bolder;
    color: $font-color;
    padding-top: 5px;
    }
  }

  .sigh_up::before{
    content: url(login.png);
    padding: 0 10px;
  }

  .sigh_in::before{
    content: url("https://img.icons8.com/material/24/000000/key.png");
    padding: 0 10px;
  }

  navbar {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    ul {
      display: flex;
      flex-direction: row;
      li {
        padding: 0 10px;
        list-style-type: none;
        font-family: $font;
        color: $font-color;
      }
    }
    div{
      margin-top: 10px;
    }
  }
  
