$font: sans-serif, Verdana, Geneva, Tahoma;
$font-color: black;

body {
    margin: 0;
    background: linear-gradient(to bottom, #7CFC00, #FFD700);
  }

  .content_of_first_page {
    margin: 0 auto;
    width: 900px;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    span{
    font-family: font;
    font-size: 20px;
    font-weight: bolder;
    color: $font-color;
    padding-top: 5px;
    }
  }

  .sigh_up::before{
    content: url(img/login.png);
    padding: 0 5px;
  }

  .sigh_in::before{
    content: url("https://img.icons8.com/material/24/000000/key.png");
    padding: 0 5px;
  }

  navbar {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    height: 50px;
    ul {
      display: flex;
      flex-direction: row;
      li {
        padding: 5px 15px;
        list-style-type: none;
        font-family: $font;
        color: $font-color;
      }
    }
    div{
      margin-top: 5px;
    }
  }
  
  .first_page{
    margin-top: 15px;
    span, h1, .scroll{
      display: flex;
      justify-content: center;
      font-family: $font;
      margin: 0;
    }
    div{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      div{
        display: flex;
        flex-flow: row;
        margin-top: 30px;
        margin-left: 20px;
        div{
          position: absolute;
          margin-top: 85px;
          margin-left: 105px; 
        }
      }
      div{ 
        width: 430px;
        display: flex;
        flex-flow: column;
        span{
        display: flex;
        justify-content: flex-end;
        margin-left: 55px;
      font-size: 15px;}
        button{
          margin: 10px auto;
          margin-bottom: 10px;
          width: 155px;
          font-family: $font;
          color: $font-color;
          background-color: white;
        }
        label{
          margin: 0 auto;
          font-family: font;
          color: font-color;
          font-size: 15px;
          width: 300px;
          text-align: center;
        }
      }  
    }

    .scroll{
      width: 100px;
      margin: 0 auto;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
    }
  }
    
  .content_of_others_pages{
      margin: 10px 0 0 0;
      background: white;
      .other_pages{
        width: 900px; 
        padding-top: 105px;
        margin: 0 auto;
        span, h1 {
          display: flex;
          justify-content: center;
          font-family: $font;
          margin: 0;
        }
        .benefits{
          display: flex;
          flex-flow: row nowrap;
          div{
            display: flex;
            flex-flow: column;
            justify-content: center;
            margin: 0 30px;
            margin-top: 30px;
            width: 250px;
            padding: 0 40px;
          }
        }

      .vertical_slider{
        margin-top: 130px;
        display: flex;
        flex-flow: row nowrap;
        
        .container, .carousel-item{
          height: auto;
          width: 60%;}

        .carousel-control-next{
          margin-right: 260px;}

        .vert .carousel-item-next.carousel-item-left,
        .vert .carousel-item-prev.carousel-item-right {
          -webkit-transform: translate3d(0, 0, 0);
          transform: (0, 0, 0);}
          .vert .carousel-item-next,
          .vert .active.carousel-item-right {
          -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100% 0);}
          .vert .carousel-item-prev,
          .vert .active.carousel-item-left {
          -webkit-transform: translate3d(0,-100%, 0);
          transform: translate3d(0,-100%, 0);}
          div{
            width: 700px;
          }
          #lorem{
            width: 400px;
            margin-top: 15px;
            ul{
              margin-top: 15px;
            }
          }
      }
      }
    }

    .gallery_list{
      margin-top: 130px;
      display: flex;
      flex-direction: row;
      div{
        flex-direction: row;
        margin: 2px 0;
      }
    }

    .horisontal_slider{
      margin-top: 130px;
      span, h1 {
        display: flex;
        justify-content: center;
        font-family: $font;
        margin: 0;
      }
    }
  
    footer{
      margin: 0;
      background: white;
      padding-top: 130px;
      display: flex;
      flex-flow: row;
      justify-content: space-around; 
      .privacy{
        padding: 10px;
        display: flex;
        flex-direction: column;
          margin: 0 auto;
        }
        .subscribe{
          display: flex;
          flex-direction: column;
          background: white;
          width: 500px;
          padding: 10px;
          margin: 0 auto;
        .input-group{
            margin-top: 15px;
          }
        }
      
    }
  